@import "styles/config/variables";

.vacancies {
  margin-bottom: 50px;
}

.vacanciesTitle {
  display: grid;
  align-items: center;
  justify-content: start;
  margin-bottom: 25px;
  gap: $margin-default;
  grid-template-columns: auto auto;

  @media screen and (max-width: $media-mobile) {
    gap: $margin-mobile;
    grid-template-columns: 1fr;
    justify-items: start;
  }
}

.vacanciesRow {
  display: grid;
  gap: $gap-default;
  grid-template-columns: minmax(210px, 260px) minmax(640px, 1fr);

  @media screen and (max-width: $media-tablet) {
    grid-template-columns: 1fr;
  }
}

.cardRow {
  grid-template-columns: repeat(3, 1fr);

  @media screen and (max-width: $media-tablet) {
    grid-template-columns: 1fr;
    row-gap: 17px;
  }
}

.cardSection {
  display: grid;

  & + & {
    border-left: 1px solid $color-grey-light;

    @media screen and (max-width: $media-tablet) {
      padding-top: $margin-mobile;
      border-top: 1px solid $color-grey-light;
      border-left: none;
    }
  }
}

.cardText {
  display: inline-block;

  &.accent {
    margin-top: 12px;
    color: $color-primary;
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
  }

  &.big {
    margin-top: 8px;
    font-size: 26px;
    font-weight: 700;
    line-height: 35px;
  }
}

.tag {
  @media screen and (max-width: $media-mobile) {
    grid-row: 1 / span 1;
  }
}

.rate {
  display: grid;
  justify-content: center;
  margin-top: 12px;
  gap: 10px;
  grid-template-columns: auto auto auto;
}

.filled circle {
  fill: $color-red;
}
