@import "styles/config/variables";

.wrapper {
  display: grid;
  min-height: 100vh;
  gap: 0 $gap-default;
  grid-template-areas:
    ". header header ."
    ". sidebar body ."
    "footer footer footer footer";
  grid-template-columns: auto 230px minmax($min-content-width, $max-content-width) auto;
  grid-template-rows: auto 1fr auto;

  @media screen and (max-width: $media-mobile) {
    grid-template-areas:
      "header"
      "body"
      "footer";
    grid-template-columns: minmax($min-content-width, 1fr);
  }
}

.header {
  display: none;
  grid-area: header;

  @media screen and (max-width: $media-mobile) {
    display: block;
    padding: 0 $gap-mobile;
  }
}

.sidebar {
  grid-area: sidebar;

  @media screen and (max-width: $media-mobile) {
    display: none !important;
  }
}

.body {
  padding: $gap-default 0 $margin-layout-bottom;
  grid-area: body;

  @media screen and (max-width: $media-mobile) {
    padding: $gap-default $gap-mobile;
  }
}

.footer {
  grid-area: footer;
}
