@import "styles/config/variables";

.header {
  display: grid;
  align-items: center;
  margin-bottom: $margin-default;
  gap: $margin-default;
  grid-template-columns: max-content max-content auto;

  @media screen and (max-width: $media-tablet) {
    grid-template-columns: [start] 1fr 1fr [end];
  }
}

.title {
  @media screen and (max-width: $media-tablet) {
    grid-column: start / end;
  }
}

.toolbar {
  justify-self: end;
}

.productCount {
  @media screen and (max-width: $media-tablet) {
    justify-self: start;
  }
}

.productsList {
  margin-bottom: 50px;
}
