@import "../../../styles/config/variables";

.product {
  display: grid;
  padding: $gap-default;
  grid-template-columns:
    [start] 70px [logoend] 30px [titlestart] calc(50% - 100px) [middle] 1fr
    [pricestart] auto [priceend] 40px [creditstart] auto [creditend] 40px [ratingstart] auto [end];

  & + & {
    margin-top: $margin-default;
  }
}

.logo {
  grid-column: start / logoend;
  grid-row: 1 / span 2;
}

.title {
  align-self: flex-end;
  margin: 0 0 4.5px;
  font-size: 20px;
  font-weight: 600;
  grid-column: titlestart / middle;
  line-height: 27px;
}

.price {
  align-self: flex-end;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  grid-column: pricestart / priceend;
}

.credit {
  align-self: flex-end;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  grid-column: creditstart / creditend;
}

.rating {
  align-self: flex-end;
  grid-column: ratingstart / end;
  line-height: 22px;
}

.tags {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin: 4.5px 0 0;
  gap: 5px;
  grid-column: titlestart / middle;
}

.priceTitle {
  margin: 0;
  grid-column: pricestart / priceend;
}

.creditTitle {
  margin: 0;
  grid-column: creditstart / creditend;
}

.ratingTitle {
  margin: 0;
  grid-column: ratingstart / end;
}

.description {
  grid-column: start / end;
}

.features {
  grid-column: start / middle;
}

.advantages {
  grid-column: middle / end;
}

.actions {
  grid-column: start / end;
}

.hr {
  width: 100%;
  border-width: 1px 0 0;
  border-top: 1px solid $color-grey-light;
  margin-top: 18px;
  margin-bottom: 22px;
  grid-column: start / end;
}

.logoContainer {
  position: relative;
  width: 70px;
  height: 70px;
}

.logoImg {
  border-radius: 5px;
}

.smallText {
  font-size: 14px;
  line-height: 19px;
}

.smallTitle {
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
}

.priceTag {
  margin-left: 5px;
  vertical-align: middle;
}
