@import "styles/config/variables";

.search {
  position: relative;
}

.input {
  display: block;
  width: 100%;
  padding-right: 36px;
}

.button {
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  display: grid;
  width: 30px;
  padding: 7px;
  place-content: center;
}
