@import "config/variables";
@import "fonts";
@import "libraries";

html,
body {
  padding: 0;
  margin: 0;
  background-color: $color-grey;
  color: $color-black;
  font-family: $font-main;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
