/* Dimensions */
$min-content-width: 320px;
$max-content-width: 1200px;
$media-mobile: 765px;
$margin-default: 20px;
$gap-default: 30px;
$gap-mobile: 20px;

/* Colors */
$color-black: #3B434E;
$color-white: #FFF;
$color-primary: #7653FC;
$color-primary-hover: #6344DF;
$color-red: #FC8360;
$color-green: #1DC47E;
$color-green-light: #C8F8E4;
$color-grey: #F5F6F8;
$color-grey-alternate: #787D85;
$color-grey-light: #EBEBEB;
$color-light-steel-blue: #B3C0D9;
$color-electric-red: #DE0000;
$color-gainsboro: #DFDFDF;

/* Fonts */
$font-main: "Source Sans Pro", serif;

/* Animation */
$transition-time: 0.3s;
